<div class="sistemes-background">
	<div class="row">
		<div class="medium-3 columns">
			<%= render 'layouts/menu_sistemes' %>
		</div>
		<div class="medium-9 columns">
			<div class="formulari-sistema">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>