<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_sistemes') %>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="medium-3 columns">
			<%= render 'layouts/menu_sistemes' %>
		</div>
		<div class="medium-9 columns">
			<div class="formulari-sistema">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
