<% @declaracions.each do |declaracio| %>
	<div class="dades-item">
		
		
	  
		<%= link_to edit_edifici_declaracio_path(@edifici, declaracio), remote: true do %>
	    <div class="dades-editar">
	    	<%= t('.declaracio_obra_nova') %>
	    </div>
	  <% end %>
	</div>
<% end %>