<div class="sistemes-background">
	<div class="row">
		<div class="medium-3 columns">
			<div class="sistemes-container">
				<ul class="side-nav">
				  <li class="active">
				  	<%= link_to edit_edifici_fonamentacio_path(@edifici.id, @fonamentacio), remote: true do %>
					    FONAMENTACIÓ
					  <% end %>
					</li>
				  <li><a href="#">ESTRUCTURA</a></li>
				  <li><a href="#">TANCAMENTS VERTICALS</a></li>
				  <li><a href="#">COBERTA</a></li>
				</ul>
			</div>
		</div>

		<div class="medium-9 columns">
			<div id="formulari-sistema">
				Aquí el formulari
			</div>
		</div>
	</div>
</div>