
<% @signatura_promotors.each do |signatura_promotor| %>
	<div class="agents-item">
		
		
	  <%= link_to edifici_signatura_promotor_path(@edifici, signatura_promotor), remote: true, method: :delete,  data: { confirm: 'Segur que vols eliminar?' } do %>
		  <div class="agents-eliminar right">
		  	<span class="icon-cancel icones-icomoon"></span>
		  </div>
		<% end %>
		<%= link_to edit_edifici_signatura_promotor_path(@edifici, signatura_promotor), remote: true do %>
	    <div class="agents-editar">
	    	<%= signatura_promotor.rao_social %>
	    </div>
	  <% end %>
	</div>
<% end %>
