<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_configuracio_document') %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			
			<%= render 'form' %>
		</div>
	</div>

</div>