<div class="home-container">
	<div class="row">
		<div class="medium-8 columns">
			<h2>Aplicatiu de suport per a la redacció del llibre de l'edifici</h2>
			<p>Aquest aplicatiu s'ha creat per facilitar la redacció del llibre de l'edifici d'habitatges nous i existents, tal i com s'especifica al Decret 67/2015, de 5 de maig.
		</div>
		<div class="medium-4 columns">
			<%= image_tag('logo_llibre_edifici.png', :alt => t('.logo_llibre'), :class => 'logo-llibre-edifici') %>
		</div>
	</div>
</div>
