<div class="content-container">
	<div class="left-column">
		<ul>
			<li><%= t('.apartat1') %></li>
			<li>Segona opció</li>
			<li>Tercera opció</li>
			<li>Quarta opció</li>
		</ul>
	</div>

	<div class="right-column">
		
	</div>
</div>
