<div class="home-container">
	<div class="row">
		<div class="medium-8 columns">
			<div class="home-hero-title">
				<h1><%= t('.llibre_edifici') %></h1>
				<h2><%= t('.text_hero') %></h2>
			</div>
		</div>
		<div class="medium-4 columns">
			<div class="home-hero-image">
				<%= image_tag('logo_llibre_edifici.png', :alt => t('.logo_llibre'), :class => 'logo-llibre-edifici') %>
			</div>
		</div>
	</div>

	
</div>
