<div class="projectes-background">
	<div class="row">
		<div class="medium-12 columns">
	    <div class="projectes-external-container">
	      <div class="projectes-title-container">
					<span class="projectes-title">Tutorials</span>
				</div>

				<div class="projectes-form-container">

					<div class="dades-container">
						<div class="row">
							<div class="medium-5 columns">
								<h4>1. Presentació de l'aplicatiu</h4>
								<p>En aquest vídeo mostrem l'abast de l'aplicatiu i fem un resum molt breu del seu funcionament.</p>
							</div>
							<div class="medium-7 columns">
								<div class="flex-video widescreen vimeo">
								  <iframe src="http://player.vimeo.com/video/172720887" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
								</div>
							</div>
						</div>
					</div>

					<div class="dades-container">
						<div class="row">
							<div class="medium-5 columns">
								<h4>2. Registre i configuració del compte</h4>
								<p>En aquest vídeo mostrem el procés que cal seguir per registrar-se a l'aplicatiu del Llibre de l'edifici i com configurar el compte d'usuari.</p>
							</div>		
							<div class="medium-7 columns">
								<div class="flex-video widescreen vimeo">
								  <iframe src="http://player.vimeo.com/video/172720885" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
								</div>
							</div>
						</div>
					</div>

					<div class="dades-container">
						<div class="row">
							<div class="medium-5 columns">
								<h4>3. Creació d'un nou projecte</h4>
								<p>En aquest vídeo mostrem el procés que cal seguir per crear un nou projecte. Com que abans de poder editar un projecte nou cal fer un pagament, es mostren els passos que us trobareu per realitzar aquest pagament i editar la informació de facturació.</p>
							</div>		
							<div class="medium-7 columns">
								<div class="flex-video widescreen vimeo">
								  <iframe src="http://player.vimeo.com/video/172720893" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
								</div>
							</div>
						</div>
					</div>

					<div class="dades-container">
						<div class="row">
							<div class="medium-5 columns">
								<h4>4. Introducció de dades</h4>
								<p>Una vegada s'ha creat i pagat un projecte es pot començar a introduir informació. En aquest vídeo mostrem els diferents apartats de l'aplicatiu, de manera que sabreu quina informació necessitareu per completar el llibre de l'edifici.</p>
							</div>		
							<div class="medium-7 columns">
								<div class="flex-video widescreen vimeo">
								  <iframe src="http://player.vimeo.com/video/172720886" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
								</div>
							</div>
						</div>
					</div>

					<div class="dades-container">
						<div class="row">
							<div class="medium-5 columns">
								<h4>5. Operacions de manteniment personalitzades</h4>
								<p>La informació que apareix a l'aplicatiu del llibre de l'edifici no sempre és suficient per a representar tots els casos. És per això que l'aplicatiu permet introduir elements i operacions de manteniment definides per l'usuari.</p>
							</div>		
							<div class="medium-7 columns">
								<div class="flex-video widescreen vimeo">
								  <iframe src="http://player.vimeo.com/video/172720892" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>