<div id="modal-promotor" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Promotor</h2>
  <div id="formulari-promotor" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="modal-projectista" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Projectista</h2>
  <div id="formulari-projectista" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="agents-background">
	<div class="row">
		<div class="large-6 columns">
			<div class="agents-container">
				<div class="agents-title">
					PROMOTOR
				</div>
				<div id="promotors">
					<%= render  :partial => '/promotors/llistat_promotors' %>
				</div>
				<div class="agents-footer">
					<div class="agents-footer-link right">
						<%= link_to (new_edifici_promotor_path), remote: true do %>
							<span class="suma">+</span> Afegir un promotor
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="agents-container">
				<div class="agents-title">
					PROJECTISTA
				</div>
				<div id="projectistes">
					<%= render  :partial => '/projectistes/llistat_projectistes' %>
				</div>
				<div class="agents-footer">
					<div class="agents-footer-link right">
						<%= link_to (new_edifici_projectista_path), remote: true do %>
							<span class="suma">+</span> Afegir un projectista
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
