<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_documents') %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<div class="row">
					<div class="medium-3 columns">
						<a href="documents/nou_plurifamiliar.docx" class="button small radius">Generar el Llibre de l'edifici</a>
					</div>
					<div class="medium-9 columns">
						<p>Si ja heu completat tota la informació dels apartats anteriors podeu clicar el botó per generar el document Word (format docx) del Llibre de l'edifici.</p>
					</div>
				</div>
				<div class="row">
					<div class="medium-3 columns">
						<a href="documents/manual_habitatge.docx" class="button small radius">Generar el Manual de l'habitatge</a>
					</div>
					<div class="medium-9 columns">
						<p>En els edificis plurifamiliars de nova construcció cal crear el Manual de l'habitatge. Aquest document està destinat als diferents propietaris per a que puguin conèixer, de manera individualitzada, les dades que corresponen al seu habitatge.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<div class="container-document">
				<p>Següents passos:</p>
				<ul>
					<li>Col·locar les imatges de la façana i l'emplaçament de l'edifici.</li>
					<li>Comprovar que el disseny del document és correcte. Com que es crea un fitxer Word editable podeu modificar el que considereu convenient.</li>
					<li>Actualitzar l'índex de continguts del document. És probable que l'índex del document no reflecteixi la numeració correcta de les pàgines. Tan sols cal clicar l'índex amb el botó dret i seleccionar "Actualitzar taula de continguts".</li>
				</ul>
			</div>
		</div>
	</div>

</div>
