<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_documents') %>
			</div>
		</div>
	</div>

	<div class="row">
		
		<div class="medium-12 columns">
			
			<a href="documents/nou_plurifamiliar.docx" class="button small radius">Generar document</a>
		</div>
	</div>

</div>
