<div class="row">
	<div class="medium-12 columns">
		<h1>Pagament amb targeta</h1>
		<h2>Pàgina provisional per a demostració</h2>

		<p><%= link_to "Continuar", edificis_path, class: "button small radius" %></p>
	</div>
</div>