<h1>Editing Checklist Edifici Nou Plurifamiliar</h1>

<%= render 'form' %>

<%= link_to 'Show', @checklist_edifici_nou_plurifamiliar %> |
<%= link_to 'Back', checklist_edifici_nou_plurifamiliars_path %>
