<div class="row">
	<div class="large-12 columns">
		<div class="checklist-container">
			<div class="checklist-title">
				Identificació de l'edifici
			</div>
			
			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch1" type="checkbox" name="testGroup1">
					  <label for="exampleRadioSwitch1"></label>
					</div> 
				</div>
				<div class="checklist-text">
					<%= link_to(t('.dades_identificacio'), {:controller => 'dades_edifici_nous', :action => 'edit', :id => @dades_edifici.id}, :class => 'link-item-edifici') %>
				</div>
			</div>
		</div>

		<div class="checklist-container">
			<div class="checklist-title">
				Agents de l'edificació
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Promotor
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Projectista
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Constructor
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Director d'obra
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Director d'execució d'obra
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Laboratoris de control
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Entitats de control
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Subministradors de productes
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Industrials
				</div>
			</div>
		</div>

		<div class="checklist-container">
			<div class="checklist-title">
				Dades referents a la llicència, declaració d’obra nova i el règim jurídic de l’edifici
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Llicència
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Declaració d'obra nova
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Règim de propietat
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Càrregues reals
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Relació d'entitats jurídiques
				</div>
			</div>

		</div>

		<div class="checklist-container">
			<div class="checklist-title">
				Registre d'incidències
			</div>
			
			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch1" type="checkbox" name="testGroup1">
					  <label for="exampleRadioSwitch1"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Acta de lliurament de l'edifici
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch1" type="checkbox" name="testGroup1">
					  <label for="exampleRadioSwitch1"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Canvis de titularitat de la propietat de l'edifici
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch1" type="checkbox" name="testGroup1">
					  <label for="exampleRadioSwitch1"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Reformes, rehabilitacions i canvis d'ús
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch1" type="checkbox" name="testGroup1">
					  <label for="exampleRadioSwitch1"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Reformes, rehabilitacions i canvis d'ús
				</div>
			</div>

		</div>

	</div>
</div>