<div class="row">
	<div class="large-12 columns">
		<div class="checklist-container">
			<div class="checklist-title">
				Dades inicials de l'edifici
			</div>
			
			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch1" type="checkbox" name="testGroup1">
					  <label for="exampleRadioSwitch1"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Adreça
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Plànol emplaçament
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Plànol emplaçament
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Plànol emplaçament
				</div>
			</div>

			<div class="checklist-item">
				<div class="checklist-switch">
					<div class="switch tiny">
					  <input id="exampleRadioSwitch2" type="checkbox" name="testGroup2">
					  <label for="exampleRadioSwitch2"></label>
					</div> 
				</div>
				<div class="checklist-text">
					Plànol emplaçament
				</div>
			</div>

		</div>
	</div>
</div>