<div class="background-seccio">
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_nova_operacio') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="identificacio-container">
				<div class="row">
					<div class="medium-12 columns">
						<div class="identificacio-item">
							<%= render 'form' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>