// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.agents-background {
	background-color: #eaeaea;
}
.agents-container {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin: 20px;
}

.agents-title {
	background-color: #404040;
	color: #ffffff;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 0.9em;
}

.agents-item {
	border-bottom: 1px solid #cccccc;
	padding: 10px 15px;
}

.agents-editar {
	border-left: 1px solid #cccccc;
	margin: -10px 16px;
	padding: 10px 15px;
}

.agents-eliminar {
	border-left: 1px solid #cccccc;
	margin: -10px -15px;
	padding: 10px 15px;
}

.icones-icomoon {
	
}

.agents-footer {
	height: 35px;
}

.agents-footer-link {
	padding: 0px 10px 5px 10px;
}

.formulari-agent {
	background-color: #eaeaea;
	padding: 30px 20px 10px 20px;
}