// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.agents-background {
	background-color: #eaeaea;
	padding-bottom: 50px;
}
.agents-container {
	/*border: 1px solid #777777;*/
	background-color: #ffffff;
	margin: 20px;
}

.agents-title {
	background-color: #404040;
	color: #ffffff;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 0.9em;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.agents-item {
	border-bottom: 1px solid #eaeaea;
	padding: 10px 15px;
}

.agents-editar {

}

.agents-eliminar {
	
}

.icones-icomoon {
	
}

.agents-footer {
	height: 35px;
	background-color: #eaeaea;
}

.agents-footer-link {
	padding: 0px 10px 5px 10px;
	background-color: #cccccc;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.agents-footer-link > a {
	color: #333333;
}

.agents-footer-link > a:hover {
	color: #666666;
}

.formulari-agent {
	background-color: #eaeaea;
	padding: 30px 20px 10px 20px;
}