/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require icomoon-free/style

 */

body {

}

.footer-container {
	padding: 30px;
	border-top: 1px solid #ccc;
}

.footer-text-container {
	text-align: center;
	font-size: 0.8em;
}

.logo-caateeb {
	max-width: 250px;
	margin-bottom: 30px;
}

.sessions-container {
	padding: 50px 0px;
	min-height: 500px;
}

.session-background-image {
	background-color: #eaeaea;
}

.session-form-container {
	margin-bottom: 20px;
}

.session-title {
	background-color: #ffd84a;
	padding: 10px 15px;
}

.session-form {
	background-color: #ffffff;
	padding: 20px;
}

.session-form-button {
	height: 60px;
}

.login-title {
	font-size: 1.2em;
}

.background-seccio {
	background-color: #eaeaea;
	padding-bottom: 50px;
	min-height: 600px;
}

.titol-seccio {
	font-size: 1.2em;
	font-weight: bold;
	padding: 20px 0px;
}

.projectes-background {
	background-color: #eaeaea;
	padding: 50px 0px;
	min-height: 600px;
}

.projectes-container {
	background-color: #ffffff;
	padding: 20px;
}

.projectes-title-container {
	background-color: #ffd84a;
	padding: 10px 15px;
}

.projectes-title {
	font-size: 1.2em;
}

.projectes-subtitle {
	font-size: 1.1em;
	margin-bottom: 20px;
}

.projectes-existents-container {

}

.projectes-form-container {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 20px;
}

.projectes-form-button {
	height: 60px;
}

.nom-edifici-container {
	padding: 8px 15px;
	background-color: #ffd84a;
}

.menu-edifici {
	padding: 15px;
	border-bottom: 1px solid #eaeaea;
}

.menu-actiu {
	background-color: #eaeaea;
}

.checklist-container {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin: 20px;
}

.checklist-title {
	background-color: #333333;
	color: #ffffff;
	padding: 10px 15px;
}

.checklist-item {
	border-bottom: 1px solid #cccccc;
	padding: 10px 15px;
}

.checklist-icon {
	float: left;
	width: 50px;
}

.checklist-text {
	margin-left: 60px;
}

.submenu {

}

ul.submenu-list {
	list-style-type: none;
	margin: 0px;
}

li.submenu-item {
	display: inline;
	margin-left: 20px;
	padding: 0px 2px 7px 2px;
	font-size: 0.8em;
}

.submenu-actiu {
	border-bottom: 4px solid #333333;
}

.submenu-link {
	color: #333333;
}

.submenu-link:hover {
	color: #999999;
}

.suma {
	font-size: 1.3em;
	font-weight: bold;
}

.botodreta {
	margin-top: 15px;
}