/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
	
}

.footer-container {
	padding: 30px;
	border-top: 1px solid #ccc;
}

.nom-edifici-container {
	padding: 15px;
	background-color: #008CBA;
	color: #ffffff;
}

.left-column {
	width: 220px;
	float: left;
}

.right-column {
	margin-left: 220px;
	background-color: #eaeaea;
	min-height: 600px;
}

.menu-edifici {
	padding: 15px;
	border-bottom: 1px solid #eaeaea;
}

.menu-actiu {
	background-color: #eaeaea;
}

.checklist-container {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin: 20px;
}

.checklist-title {
	background-color: #333333;
	color: #ffffff;
	padding: 10px 15px;
}

.checklist-item {
	border-bottom: 1px solid #cccccc;
	padding: 10px 15px;
}

.checklist-icon {
	float: left;
	width: 50px;
}

.checklist-text {
	margin-left: 60px;
}

.submenu {

}

ul.submenu-list {
	list-style-type: none;
}

li.submenu-item {
	display: inline;
	margin-left: 20px;
	padding: 0px 2px 6px 5px;
}

.submenu-actiu {
	border-bottom: 4px solid #ffffff;
}

.submenu-link {
	color: white;
}

.submenu-link:hover {
	color: #cccccc;
}

.suma {
	font-size: 1.3em;
	font-weight: bold;
}