// Place all the styles related to the ChecklistEdificiNous controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nom-edifici-container {
	background-color: #008CBA;
	padding: 15px;
	color: white;
}

.content-container {
	background-color: #ffffff;
}

.left-column {
	width: 250px;
	float: left;
	border-right: 1px solid #e7e7e7;
}

.right-column {
	margin-left: 249px;
	padding-left: 20px;
	background-color: #eaeaea;
	border-left: 1px solid #e7e7e7;
}

.menu-edifici {
	padding: 15px;
	border-bottom: 1px solid #e7e7e7;
}

.menu-actiu {
	background-color: #eaeaea;
	border-right: 1px solid #eaeaea;
	width: 251px;
}

.items-container {
	margin: 20px;
	border: 1px solid #e7e7e7;
	background-color: #ffffff;
}

.items-title {
	background-color: #333333;
	color: #ffffff;
	padding: 10px 15px;
}

.item {
	padding: 10px 15px;
	border-bottom: 1px solid #e7e7e7;
	clear: both;
}

.boto-item {
	float: left;
}

.text-item {
	margin: 2px 15px 2px 70px;
}