// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-document {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 20px;
}

.imatge-document {
	max-width: 100px;
	margin-bottom: 20px;
}

// Vista impressió PDF

.pdf-container {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	padding: 20px;
}

.salt-pagina {
	page-break-after: always;
}

.indivisible {
	page-break-inside: avoid;
}

h1.titol-document {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	margin-top: 300px;
}

h2.subtitol-document {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	font-size: 33px;
	text-align: center;
}

.separacio-gran {
	height: 300px;
}

.dades-portada {
	text-align: right;
}

.container-titol-seccio-document {
	border-left: 20px solid #999;
	padding-left: 12px;
	border-bottom: 2px solid #999;
	margin-bottom: 20px;
}

.titol-seccio-document {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 0px;
}

.subtitol-seccio-document {
	font-size: 1.2em;
	font-weight: bold;
}

.titol-apartat-document {
	font-size: 1em;
	margin-bottom: 0.9em;
}

.taula-container {
	page-break-inside: avoid;
}

.taula-dades {
	border: none;
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	margin-bottom: 8px;
}

.taula-dades-final {
	border: none;
	border-bottom: 1px solid #333333;
	width: 100%;
	margin-bottom: 50px;
}

.titol-taula {
	font-weight: bold;
	page-break-after: avoid;
	margin-bottom: 0px;
}

.taula-dos-columnes {
	width: 50%;
	font-size: 0.8em;
	padding: 0.4em;
}

.espaiador {
	height: 20px;
}

.apartat-sistema {
	font-weight: bold;
}

h5.titol-signatura {
	font-weight: bold;
	font-size: 1em;
}

hr.linia-signatura {
	border-color: black;
	margin-top: 0px;
}

span.label-signatura {
	font-size: 0.9em;
	font-weight: bold;
}

span.avis-signatura {
	font-style: oblique;
	font-size: 0.9em;
}

.nom-responsable {
	font-weight: bold;
	font-size: 1em;
}

.imatge-pdf {
	max-width: 500px;
}

.subtitol-petit-seccio-document {
	font-size: 1.2em;
	font-weight: bold;
}

.taula-incidencies {
	border: 0px;
	width: 100%;
}

.cell-incidencies {
	background-color: white;
	padding-top: 0px;
	padding-bottom: 0px;
}

.num-incidencies {
	width: 20%;
}

.assumpte-indicencies {
	width: 60%;
}

.data-incidencies {
	width: 20%;
}

.cell-descripcio-incidencia {
	height: 120px;
	border-bottom: 1px solid #ccc;
}

.taula-registre {
	border: none;
	border-collapse: collapse;
	width: 100%;
}

.cell-registre {
	border: 1px solid #000;
	background-color: white;
	height: 30px;
}

.cell-principal {
	width: 50%;
}

ul, ol, dl {
	font-size: 0.8rem;
	line-height: 1.2;
}

.p-impressio {
	font-size: 0.8em;
	margin-bottom: 0.8em;
}

.li-impressio {
	font-size: 0.8em;
}

.td-impressio {
	font-size: 0.8em;
	padding: 0.4em;
}