// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-document {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 20px;
}

.imatge-document {
	max-width: 100px;
	margin-bottom: 20px;
}

// Vista impressió PDF

.pdf-container {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	padding: 20px;
}

.salt-pagina {
	page-break-after: always;
}

h1.titol-document {
	font-family: "Calibri", Helvetica, Roboto, Arial, sans-serif;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 300px;
}

.dades-portada {
	text-align: right;
}

.titol-seccio {
	font-size: 38px;
	font-weight: bold;
}

.taula-dades {
	border: none;
	border-top: 1px solid #CCCCCC;
	width: 100%;
	margin-bottom: 0px;
}

.titol-taula {
	font-weight: bold;
}