// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-container {
	background-color: #ffd84a;
}

.home-hero-title {
	padding: 80px 0px 40px 0px;	
}

.home-hero-title > h1 {
	font-size: 3em;
	font-weight: bold;
	font-family: "le-monde-journal-std-2",sans-serif;
}

.home-hero-title > h2 {
	font-size: 1.5em;
}

.home-hero-image {
	text-align: center;
	padding: 50px 20px 40px 0px;	
}

.logo-llibre-edifici {
	max-width: 300px;
}

.home-container1 {
	padding-top: 50px;
	
}

hr.separador {
	margin-top: 50px;
	margin-bottom: 50px;
}

.home-container2 {
	padding-bottom: 80px;
}

.imatge-edificis-nous {
	max-width: 400px;
}

.imatge-edificis-existents {
	max-width: 400px;
}

.titol-esquema-documents {
	font-family: "le-monde-journal-std-2",sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	margin-top: 30px;
}

.container2-image {
	padding-right: 40px;
}

.container2-text {
	padding: 0px 60px;
}

.home-container3 {
	padding: 80px 0px 80px 0px;
	background-color: #f7eccb;
}

.container3-image {
	padding-left: 40px;
}

.container3-text {
	padding: 0px 60px;
}

.titol-apartat-index {
	font-family: "le-monde-journal-std-2",sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 30px;
}

.container-info {
	border: 1px solid #cccccc;
	padding: 30px 20px 10px 20px;
	background-color: #ffffff;
}

.home-container4 {
	padding: 80px 0px;
}

.home-container5 {
	background-color: #ffd84a;
	padding: 60px 0px 40px 0px;
}

.inicia-aplicacio-text {
	text-align: center;
}

.inicia-aplicacio-botons {
	text-align: center;
	margin-top: 40px;
}

.inici-esquerra {
	margin-right: 40px;
}