// Place all the styles related to the Identificacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.identificacio-title {
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 30px;
}

.identificacio-subtitle {
	font-weight: bold;
	font-size: 0.9em;
}

span.title {
	font-size: 1em;
}

.identificacio-item {
	border: 1px solid #cccccc;
	padding: 30px 20px 10px 20px;
	background-color: #ffffff;
	margin-top: -1px;
}

.inscripcio-registral-item {
	border-bottom: 1px solid #cccccc;
	padding: 10px 0px;
}

span.strong {
	font-weight: bold;
	font-size: 0.8em;
}