// Place all the styles related to the Pagaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.llistat-llibres-cambra-mes {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0px;
}

.llistat-llibres-cambra-nombre {
	font-size: 1em;
}

.llistat-llibres-cambra-taula {
	width: 100%;
}