
<% @signatura_llibres.each do |signatura_llibre| %>
	<div class="agents-item">
		
		
	  <%= link_to edifici_signatura_llibre_path(@edifici, signatura_llibre), remote: true, method: :delete,  data: { confirm: 'Segur que vols eliminar?' } do %>
		  <div class="agents-eliminar right">
		  	<span class="icon-cancel icones-icomoon"></span>
		  </div>
		<% end %>
		<%= link_to edit_edifici_signatura_llibre_path(@edifici, signatura_llibre), remote: true do %>
	    <div class="agents-editar">
	    	<%= signatura_llibre.autor_llibre_nom %>
	    </div>
	  <% end %>
	</div>
<% end %>
