<div id="modal-inscripcio-registral" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 id="modalTitle"><%= t('.inscripcio_registral') %></h3>
  <div id="formulari-inscripcio-registral" class="formulari-agent">
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="background-seccio">
	
	<div class="row">
		<div class="large-12 columns">
			<div class="titol-seccio">
				<%= t('.titol_identificacio') %>
			</div>
		</div>
	</div>

	<% flash.each do |key, value| %>
    <div class="row">
    	<div class="large-6 columns end">
		    <div data-alert class="alert-box success radius">
				  <%= value %>
				  <a href="#" class="close">&times;</a>
				</div>
			</div>
		</div>
  <% end %>

	<div class="row">
		<div class="large-12 columns">
			<div class="identificacio-container">
				<div class="row">
					<div class="medium-12 columns">
						<div class="identificacio-item">
							<%= render 'form' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>