<%= simple_form_for(@importat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="medium-12 columns">
        <%= f.file_field :file %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <div class="form-actions right">
        <%= f.button :submit, t('.importar'), :class => 'button small radius right botodreta' %>
      </div>
    </div>
  </div>

<% end %>
