		<footer>
			<div class="footer-container">
				<div class="row">
					<div class="medium-12 columns">
						<div class="footer-text-container">
							© <%= Time.now.year %> CAATEEB - Avís legal - Contacta
							<br/>
							<%= image_tag('logo_caateeb.png', :alt => t('.logo_caateeb'), :class => 'logo-caateeb') %>
						</div>
					</div>
				</div>
			</div>
    </footer>
  </body>
</html>
