		<footer>
			<div class="footer-container">
				<div class="row">
					<div class="medium-12 columns">
						<div class="footer-text-container">
							<%= image_tag('logo_caateeb.png', :alt => t('.logo_caateeb'), :class => 'logo-caateeb') %>
							<br/>
							© <%= Time.now.year %> CAATEEB - <%= link_to t('.avis_legal'), home_avis_path %> - <%= link_to t('.contacta'), home_contacta_path %>
						</div>
					</div>
				</div>
			</div>
    </footer>
  </body>
</html>
