<div class="sistemes-container">
	<ul class="side-nav">
	  <li <% if @menu_sistemes_actiu == 'fonamentacio' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_fonamentacio_path(@edifici.id, @fonamentacio) do %>
		    FONAMENTACIÓ
		  <% end %>
		</li>
	  <li <% if @menu_sistemes_actiu == 'estructura' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_estructura_path(@edifici.id, @estructura) do %>
		    ESTRUCTURA
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'tancaments_verticals' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_tancaments_vertical_path(@edifici.id, @tancaments_vertical) do %>
		    TANCAMENTS VERTICALS
		  <% end %>
	  </li>
	  <li <% if @menu_sistemes_actiu == 'coberta' %>class="active"<% end %>>
	  	<%= link_to edit_edifici_coberta_path(@edifici.id, @coberta) do %>
		    COBERTA
		  <% end %>
	  </li>
	  <li><a href="#">SANEJAMENT</a></li>
	  <li><a href="#">SUBMINISTRAMENT D'AIGUA</a></li>
	  <li><a href="#">INSTAL·LACIÓ ELÈCTRICA</a></li>
	  <li><a href="#">CALEFACCIÓ</a></li>
	  <li><a href="#">AIGUA CALENTA SANITÀRIA</a></li>
	  <li><a href="#">INSTAL·LACIÓ DE GAS</a></li>
	  <li><a href="#">REFRIGERACIÓ</a></li>
	  <li><a href="#">VENTILACIÓ</a></li>
	  <li><a href="#">PROTECCIÓ CONTRA INCENDIS</a></li>
	  <li><a href="#">PROTECCIÓ CONTRA LLAMPS</a></li>
	  <li><a href="#">INSTAL·LACIÓ DE COMUNICACIONS ICT</a></li>
	  <li><a href="#">ASCENSOR</a></li>
	</ul>
</div>